@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
    background: rgb(250, 246, 246);
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
ul, li, a{
    background: transparent;
}
a{
    text-decoration: none;
    background: transparent;
}

/* navbar */
.nav-links{
    padding-top: 10px;
}
.nav-links img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(50, 38, 38);
}
.nav-links  ul {
    display: flex;
    margin-top: 5vmin;
 }

.nav-links ul li{
    list-style: none;
    margin-right: 20px;   
    text-align: center;
    margin-left: 4%;
    padding: 5px 0;
    margin-bottom: 7px;
}

.nav-links ul li a{
    margin-top: 10vmin;
}

.nav-links h1{
    background: transparent;
    font-family: 'The Nautigal', cursive;
    font-size: 48px;
    color: rgb(19, 14, 112);
}

/* search */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vmin;
    border-radius: 50px;
}
.search input{
    width: 50%;
    padding: 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(119, 135, 134, 0.902);
    color: rgba(119, 135, 134, 0.902);
    font-size: 1rem;
    background: transparent;
}
.search button{
    font-size: 35px;
    color: rgba(119, 135, 134, 0.902);
    border: none;
    background: transparent;

}

/* petgallery */

.pet-gallery{
    margin-top: 10vmin;
}
.pet-gallery .thumbnail{
   background: rgba(37, 34, 34, 0.803);
}
.pet-gallery img{
   width: 400px;
   height: 300px;
   display: block;
   margin: 5px;
}
.pet-gallery img:hover{
   opacity: 0.3;
   background: rgba(37, 34, 34, 0.803);;
}
.pet-gallery .caption{
    position: absolute;
    text-align: center;
    align-items: center;
    background: transparent;
    transition: 0.3s ease;
    display: none;
    /* remeber this one !!!!!!!!!!!!!!! */
}

/* staff */

.staff .title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    color: #1d0869;
}
.staff-details{
    width: 300px;
    display: inline-block;
    margin: 5px ;    
    margin-bottom: 4vmin;
    border-radius: 10px;
    box-shadow: 0 0 1px #626262;
    padding: 6px;
}
.staff-details img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px #626262;
}

.staff-details h1{
    margin-top: 3vmin;
    font-size: 1.5em;
    color: #1d0869;
    font-weight: 700;
    text-align: center;
}
.staff-details h2{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: -10px;
}
.staff-services p{
    text-align: justify;
    color: #626262;
    font-family: 'Source Sans Pro', sans-serif;
    margin: -1px 0;
}

/* pet breeds */
.pet-breeds .col{
    box-shadow: 0 0 5px #000000;
    margin: 6vmin 5px;
    width: 150px;
    margin-bottom: 3vmin;
}
.pet-title{
    color: #1d0869;
    font-weight: 700;
    text-align: center;
    text-decoration: underline dotted;
}
.pet-breeds h1{
    text-transform: capitalize;
    color: #000000;
    font-weight: 600;
    padding: 7px;
    font-size: large;
    text-align: center;
    border-bottom: 2px solid#000000;
}
.pet-items ul{
    left: 0;
    align-items: left;
    margin-left: -3vmin;
}
.pet-items ul li{
    margin: 20px 0;
    text-align: left;
}
.pet-items ul li span{
    font-weight: 700;
    font-size: medium;
    margin-right: 4px;
}
.pet-brand-progress{
    display: flex;
    margin: 5vmin;
    
}
.pet-brand-progress .step1, .pet-brand-progress .step2,
 .pet-brand-progress .step3, .pet-brand-progress .step4{
    margin: 0 5vmin;
    color: rgb(170, 160, 160);
    width: 150px;
    height: 150px;
    background: #8cdc8fdd;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

.pet-brand-progress .step1  h3, .pet-brand-progress .step2 h3,
 .pet-brand-progress .step3 h3, .pet-brand-progress .step4 h3{
    font-size: 1rem;
    text-align: center;
    background: transparent;
    font-weight: 800;
    margin-top: 22px;
 }
 .pet-brand-progress .tag{
    background: transparent;
    text-align: center;
    overflow: hidden;
    display: none;
    color: #fff;
    margin-top: 15px;
 }
.pet-brand-progress h3:hover + .tag{
    display: block;
}
.pet-brand-progress .step2 ,
 .pet-brand-progress .step3, .pet-brand-progress .step4{
    background: #8cdc8fdd;
    color: rgb(170, 160, 160);
 }
 .pet-brand-progress i{
    text-align: center;
    margin-top: 10vmin;
    font-size: 40px;
    padding: 0;
    margin-right: -5vmin;
    margin-left: -5vmin;
    color: rgb(170, 160, 160);
 }
.first .step1{
    background: #12bc15;
}

 /* cart */
 .cart .container{
    text-align: center;
    margin-bottom: 12vmin;
    margin-top: 6vmin;
 }
.cart table{
    width: 300px;
}
.cart .price h5{
    margin-bottom: 5vmin;
}
.cart .pet-brand-progress .step2{
    background: #12bc15;
}
.cart .pet-brand-progress .step2 h3, 
.first .step1 h3{
    color: #000000;
}
.pet-breeds ul li:hover{
    color: #1d0869;
    text-transform: uppercase;

}
/* notification */

.card{
    width: 300px;
    display:  inline-block;
    margin: 2vmin 2vmin;
    padding: 10px;
    background: transparent;
}
.card small{
    font-weight: 700;
}
.card .title h1{
    font-size: 18px;
    font-weight: 700;
}
/* services */
.services h1{
    text-align: center;
    margin: 3vmin;
}
.services table tr td{
    width: 300px;
    padding: 2vmin 0;
}
.services .price{
    font-weight: 700;
}
.services .address{
    text-align: center;
}
.services .address h4{
     font-size: 1rem;
     font-style: italic;
     margin: 3vmin;
}
.services .address p{
    background: #1d0869;
    border-radius: 50px;
    height: 5vmin;
    color: #fff;
    padding-top: 1vmin;
    box-shadow: 0 0 15px cyan;
}
.services{
    margin-bottom: 3vmin;
}
ul li:hover{
    color: orange;
}

/* checkout */
.checkout{
    background: #fff;
    margin: 6vmin;
    padding: 6vmin;
}
.checkout h1, .checkout p{
    background: transparent;
}
.checkout h1{
    color: #1d0869;
    font-weight: 600;
}